@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

$comfort-font: "Caveat", cursive;

$bg: rgba(255, 255, 255);
$bg2: rgb(0, 0, 0);
$text: rgb(15, 15, 15);
$text2: rgb(240, 240, 240);
$primary: rgb(22, 210, 247);

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$header-height: 72px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  }
}
